*{
margin: 0;
padding: 0;
box-sizing: border-box;    
 }


.cabecera{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px; 
}
.pantallaCompleta{
background-color: #1E1E1E;
color: white;
height: 100vh;
display: flex;
flex-direction: column;
}

//.areaCentral{
    display: flex;
    justify-content: row;
    flex: 1; 
    gap: 20px;
    padding: 20px;

}


.panelIzquierdo {
    width: 250px;
    background-color: #4a4a8a;
    padding: 30px;
    border-radius: 30px;

}

.lienzo{
    flex: 1;
    background-color: #5814c5;
    border-radius: 30px;
    padding: 30px;
}

.panelDerecho{
    width: 250px;
    background-color: #4a4a8a;
    padding: 30px;
    border-radius: 30px;
    
}
.controles{
justify-content: center;
display: flex;
align-items: center;
gap: 20px;
padding: 20px;
}
